body {
	font-family: verdana,sans-serif;
	background-color: teal ;
}	

.a{
	text-align: right;
}

p{
	text-align: center;
	font-size: small;
}	

.bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.bar a {
	display: block;
	text-decoration: none;
	margin: auto;
	border-collapse: collapse;
	text-align: left;
	padding: 10pt 20pt
}


.bar li a:hover {
	display: block;
    color: darkblue;
    padding: 15px 30px;
    text-decoration: none;
    background-color: black;
}


.bar {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 150px;
}

img{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}